unversioned*
mlruns
*.pickle
**/*.aux
**/*.bbl
**/*.blg
**/*.log
**/*.mp
**/*.out
**/*.synctex.gz
**/*.top
**/*.tui 
tmp
.DS_Store
tensorboard
main.pdf
*.pyc
*.p
*.fdb_latexmk
*.fls
.ipynb_checkpoints
Untitled*.ipynb
